body {
    margin: 0;
}
.height {
    height: 100vh;
}
.height-80 {
    height: 80vh;
}
#homepage {
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)), url(../img/bg1.jpg)top right/cover no-repeat;
}
#form {
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
}
.stylish {
    font-family: 'Stylish', sans-serif;
}
.flower {
    font-family: 'Indie Flower', cursive;

}
.main-section {
    margin: 0 auto;
    margin-top: 130px;
    padding:0;
}
.modal-content {
    background-color: #3D2920;
    opacity: 0.8;
    padding: 0 18px;
    border-radius: 10px;
}
.user-image img{ 
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 40px;
}
.form-group {
    margin-bottom: 45px;
}
.forgot {
    font-size: 15px;
    text-decoration-line: ;
}
